/* LINK: https://flexboxfroggy.com/ */

#pond {
  /* Needed to display flexbox features */
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  order: 1;
  align-self: flex-start;
  flex-wrap: wrap-reverse;
  /* Combination of both flex-direction and flex-wrap */
  flex-flow: column wrap;
  align-content: space-around;
}
