body {
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
.cards-container {
  padding: 26px;
  overflow: hidden;
}
.cards-wrapper {
  overflow: hidden;
  position: relative;
  width: 500%;
}
.cards-navigation {
  margin: 0 auto;
  text-align: center;
  width: 40px;
  font-size: 25px;
  color: #2da936;
  font-weight: bold;
  cursor: pointer;
  line-height: 25px;
  padding-top: 26px;
}
#cards-slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding: 0px;
  margin: 0px;
  transition: transform 0.5s;
}
.card {
  position: relative;
  width: 308px;
  margin-right: 26px;
  background-color: white;
  float: left;
  border: 1px solid #ccc;
}
.card-image {
  height: 133px;
  overflow: hidden;
}
.card-image img {
  width: 100%;
}
.card-content {
  padding: 0 19px;
}
.card-container {
  position: relative;
  display: inline-block;
  padding: 19px 0;
}
.card-container img {
  float: left;
}
.card-header {
  float: left;
}
.card-title,
.card-author {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.card-title {
  font-size: 23px;
  color: #3a3a3a;
}
.card-author {
  font-size: 12px;
  color: #adadad;
}
.card-text {
  font-size: 12px;
  line-height: 1.583;
  color: #3a3a3a;
  margin: 0;
}
.card-link {
  font-size: 16px;
  color: #2da936;
  font-weight: bold;
  text-decoration: none;
}
