#pond {
  /* Needed to display grid features */
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  /* fr means remaining space (fractional unit) */
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-area: 1 / 1 / 3 / 6;
  order: 0;
  grid-template: 1fr 50px / 20% 1fr;
}

/* http://cssgridgarden.com/ */
